
.addcontents{
    border: solid 3px black ;
    background-image: linear-gradient(to right, rgba(25, 119, 226, 0), rgb(66, 10, 219));
    border-radius: 70px 20px;
    padding: 15px;
    height: 450px;
    width: 400px;
    animation: mymove 5s infinite
  }
  @keyframes mymove {
    50% {border-radius: 50px;}
  }
  .logincont{
    display:flex;
    justify-content: center;
    color:black;
    padding-top: 20px;
    
  }